<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">RockScript</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/rockscript/rockscript"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">Github repo</span></a>
          </li>
          <li>
            <a href="https://github.com/rockscript/rockscript/issues/new"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">Question or feedback</span></a>
          </li>
          <li>
            <a href="https://github.com/rockscript/rockscript/blob/master/LICENSE"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">License</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-twitter.html %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            {% include icon-email.html  %}
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
