---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.index-title {
  font-weight: bold;
  font-size: .9em;
}

div.description .index-paragraph:nth-child(n+2) {
  margin-top: 20px;
}

.index-paragraph {
  font-size: .9em;
}

.tagline-full-width {
  background-image: url(screenshot-background.png);
  background-position: center;
  background-repeat: repeat;
  padding: 20px 0;
}

.tag-line {
  background-color: #1a90bf;
  color: white;
  display: block;
  font-size: 42px;
  letter-spacing: -2px;
  padding: 0 10px;
}

.description {
  letter-spacing: -0.5px;
  font-size: 1.125em;
  margin: 0 0 30px 0;
}

.newsletter {
  display: inline-block;
}

.newsletter-title {
  color: #333;
}

.newsletter-field input {
  border: 1px solid #eee;
  padding: 4px;
  margin: 3px 0;
  font-size: 1em;
  background-color: #fdfdfd;
  width: calc(100% - 10px);
}

.red-button, .red-button:visited, .red-button:hover {
  margin: 3px 0;
  padding: 5px;
  font-size: .9em;
  border: 1px solid #DD5E17;
  background-color: #DD5E17;
  color: white;
  cursor:pointer;
  line-height: 1.3em;
}

.newsletter-button input {
  width: 100%;
  height: 67px;
}

.icon-email {
  margin-right: 5px;
}

.description .footer-col {
  height: 100%;
}

a.light-grey-box, a.light-grey-box:visited {
  display: block;
  background-color: #1a90bf;
  color: white;
  font-size: 1.1em;
  height: 100%;
  padding: 20px 40px;
  margin-bottom: 15px;
}

.screenshot-border {
  background-color: white;
  padding: 10px;
  border: 1px solid #f2f2f2;
}

.screenshot {
  width: 100%;
}

header.next {
  margin-top: 30px;
}

.rss-subscribe {
  float: right;
}

div.download {
  text-align:center;
  verticle-align:middle;
}

div.download > a {
  width:280px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  border-radius:5px;
  margin: 30px;
}

div.download div.version {
  font-style: italic;
  font-size: .9em;
  margin-top: 10px;
}

.screenshot-title {
  text-align: center;
  font-size: .8em;
}
