---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  [ <a href="https://github.com/rockscript/rockscript/issues/new?title={{page.title}}&labels=comment&body=About+blog+post+[{{page.title}}](http://rockscript.io{{page.url}})">Comment</a> | <a href="https://github.com/rockscript/rockscript/issues?q=is%3Aissue+label%3Acomment">View comments</a> ]
</article>
